{% extends 'base.html' %}
{% block content %}
    <h1>Listar Alunos</h1>
    <a href="{% url 'incluirAluno' %}" class="btn btn-primary">Cadastrar Novo Aluno</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in lista %}
                <tr>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.telefone }}</td>
                <td> 
                    <a href="/cadastro/editar_aluno/{{aluno.id}}"><button>Alterar</button></a>
                    
                    <a href="javascript:void(0)" onclick="abrirTela('/cadastro/excluir_aluno/{{aluno.id}}')"><button>Excluir</button></a>
                </td>
                </tr>
            {% endfor %} 
        </tbody>
        
    </table>

    <div class="modal fade" id="telaModal" tabindex="-1" role="dialog" aria-labelledby="telaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Exclusão</h4>
                </div>
                <form action = "">
                    <div class="modal-body">
                        <label>Deseja excluir?</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharTela()">Cancelar</button>
                        {% csrf_token %}
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="excluir()">Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        caminho = "";
        var telaModal = document.getElementById('telaModal');
        function abrirTela(url){
            caminho = url;
            telaModal.style.display = "block";
            telaModal.style.paddingRight = "17px";
            telaModal.className = "modal fade show"
        }

        function fecharTela(){
            telaModal.style.display = "none";
            telaModal.style.className = "modal fade";
        }

        function excluir(){
            window.location = caminho;
            fechartela();
        }
    </script>
{% endblock %}



